@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  background-image: url("./assets/webbg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: Oswald;
  min-height: 100vh;
}
.body-rest {
  background-color: #0a0a0a;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Oswald;
  height: auto;
}
.customtext {
  font-family: Oswald;
}
.body2 {
  background-image: url("./assets/ECBG-min.gif");
  background-size: cover;
  background-repeat: repeat;
  font-family: Oswald;
  height: 60vh;
  background-position: center center;
}
.body3 {
  background-image: url("./assets/EBG.gif");
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  font-family: Oswald;
}

@media only screen and (max-width: 425px) {
  .body {
    height: 100%;
    justify-content: center;
    align-self: center;
    flex: content;
  }
}
