@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("./assets/webbg.gif");
    background-size:cover;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family:Oswald;
  
}
.back{
  background-image: url("./assets/webbg.gif");
}

@media only screen and (max-width:425px){
  body{
    height: 100%;
  };
}